header{
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--color-black);
    padding: 2rem;
    color: var(--color-white);
    font-size: 3rem;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    border-bottom: 1px solid var(--color-white);
}
.navbar__logo-container{
    width: 3.3rem;
    height: 3.3rem;
    background:var(--color-gradient);
    border-radius: 50%;
    display: grid;
    place-items: center;
    padding: .3rem;
}
.navbar__logo-section > h1{
    color: var(--color-white);
    letter-spacing: 1px;
    margin-left: 1rem;
    font-size: 2.7rem;
    font-weight: 500;
}


@media screen and (max-width:900px){
    header{
        display: flex;
    }
}
@media screen and (max-width:600px){
    header{
        font-size: 1.8rem;
        padding: 1rem;
    }
    .navbar__logo-container{
        width: 2rem;
        height: 2rem;
        
    }
    .navbar__logo-section > h1{
        font-size: 1.5rem;
        margin-left: 0.5rem;
    }
}
