.news-card{
    min-height: 19rem;
    position: relative;
}
.news-img{
    width: 100%;
    max-width: 100px;
    min-width: 60px;
}
.publish-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    position: absolute;
    bottom: .8rem;
    font-size: 0.8rem;
}
.news-description{
    font-weight: 300;
    font-style: 0.8rem;
    color: lightgray;
    margin-top: 1rem;
}
.provider img {
    width: 30px;
    height:20px;
}
.publish-date{
    margin-left: 3rem;
}


/* ====Responsiveness======= */

@media screen and (max-width:1150px){
    .card-top h4{
        font-size: .7rem;
    }
    .news-description{
        font-size: .8rem;
        margin-top: .3rem;
    }
    .publish-details{
        font-size: 0.6rem;
    }
    .provider{
        gap: 1rem;
    }
}

@media screen and (max-width : 600px){
    .news-card{
        min-width: 17rem;
    }   
}