@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

#root{
    --color-black : #000;
    --color-white : #fff;
    --color-body : #161616;
    --color-grey : rgb(187, 180, 180);
    --color-gradient : linear-gradient(132deg, rgba(115,225,247,1) 0%, rgba(230,231,126,1) 24%, rgba(233,115,179,1) 45%, rgba(123,87,203,1) 62%, rgba(110,200,218,1) 79%, rgba(198,235,242,1) 96%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Lato', sans-serif;
}
html{
   background-color:#161616;
}
img{
    width: 100%;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--color-white);
}
p{
    line-height: 20px;
}
main{
    background-color: var(--color-body);
    color: var(--color-white);
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 3.5rem;
}
section{
    width: 100%;
    margin-bottom: 2rem;
}



@media screen and (max-width:1150px){
    main{
        width: 72%;
        padding-inline: 2rem;
    }
}

@media screen and (max-width:900px){
  main{
    width: 100%;
    padding-top: 10rem;
  }
}

@media screen and (max-width:600px){
    main{
        padding:5rem .9rem .9rem;
    }
}
